 .footer{
    display: flex;
    margin-top: 208px;
    text-align: start;
    padding-bottom: 20px;
    justify-content: space-between;
}
p{
    color:#656566;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}
.about-company{
    margin-right: 98px;
}
.about-company li {
    color:#E4E5EA;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px
}
.menu{
    margin-right: 52px;
}
.menu li {
    color:#E4E5EA;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px
}
 
.about-company li:hover{
    opacity: .5;
    transition: 1s;
    transform: scale(1.01);
} 
.menu li:hover{
    opacity: .5;
    transition: 1s;
    transform: scale(1.01);
}
.case{
    margin-top:30px;
    margin-right:163px;
}
.case li{
    color:#E4E5EA;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}
.case li:hover{
    opacity: .5;
    transition: 1s;
    transform: scale(1.01);
}
.contacts li {
    color:#E4E5EA;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}
.contacts li:not(:last-child):hover {
    opacity: 0.5;
    transition: 1s;
    transform: scale(1.01);
  }
  
.contacts ul {
    text-align: end;
}

.apps{
    display: flex;
   align-items:center;
   gap: 10px;
   margin-top: 21px;
   justify-content: end;
}
.telegram{
   background-image:url(../../Components/img/apps/telegram.svg);
   background-repeat: no-repeat;
   background-size: contain;
   width: 20px;
   height: 20px;
}
.telegram:hover{
   opacity: .5;
   transition: 1s;
   transform: scale(1.01);
}
.whatsUp{
   background-image:url(../../Components/img/apps/whatsUp.svg);
   background-repeat: no-repeat;
   background-size: contain;
   width: 20px;
   height: 20px;
}
.whatsUp:hover{
   opacity: .5;
   transition: 1s;
   transform: scale(1.01);
}
.viber{
   background-image:url(../../Components//img/apps/viber.svg);
   background-repeat: no-repeat;
   background-size: contain;
   width: 20px;
   height: 20px;
}
.viber:hover{
   opacity: .5;
   transition: 1s;
   transform: scale(1.01);
}
 
.rights{
    margin-top: 70px !important;
}
.rights span {
    text-decoration: underline;
}