.App-desktop {
  text-align: center;
  background-image: url(../src/Components/img/background/background.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  padding-left: 147px;
  padding-right: 150px;
   margin: 0 auto;
}
 